/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #2a5ee8;
    --color-accessory: #7289da;
}
body{
    background-color: var(--color-secondary);
}
.debug {
    border: 1px solid black;
}