/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #2a5ee8;
    --color-accessory: #7289da;
}
body{
    background-color: var(--color-secondary);
    font-family: 'Noto Serif', serif;
}
ul{
    list-style: none;
    display: inline-block;
}
li{
    color: white;
}
.debug {
    border: 1px solid black;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
.even{
    background-color: var(--color-section-bg);
}
a{
    color: white;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
button{
    border-radius: 20px;
    border: none;
}
.login{
    color: black;
}
.primary-bg{
    background-color: var(--color-primary);
}
.section-img-text{
    display: flex;
}
.section-img{
    width: 60%;
}
.section-text{
    padding-top: 35px;
    padding-right: 30px;
    width: 40%;
}
.title-section{
    padding-bottom: 20px;
}
.title-section-last{
    padding-top: 35px;
    padding-bottom: 20px;
}
.section-text-left{
    padding-left: 20px;
    padding-top: 35px;
}
.section-text-last{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
.section-img-last{
    text-align: center;
}
/* flex utility */
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.f-center{
    justify-content: center;
}
#hero .container{
    min-height: 500px;
}
.section-img-text-2{
    display: flex;
    flex-direction: row-reverse;
}

/* header */
header{
    background-color: var(--color-header-bg);
    padding-top: 20px;
}
h1{
    font-size: 2em;
    padding: 15px 0;
}
h2{
    font-size: 2em;
}
p{
    line-height: 2em;
}
#hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content{
    max-width: 800px;
    text-align: center;
    color: white;
}
/* main */
main section{
    padding: 60px 0;
}
/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    min-height: 500px;
}
